DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=
DJANGO_ENV=
DJANGO_ALLOWED_HOSTS=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
KINDE_DOMAIN=
KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_AUDIENCE=
OPENAI_API_KEY=
EMBEDDINGS_MODEL=
PINECONE_API_KEY=