asgiref==3.8.1
Django==5.0.7
django-allauth==65.0.2
django-cors-headers==4.5.0
django-rest-auth==0.9.5
djangorestframework==3.15.2
drf-yasg==1.21.8
inflection==0.5.1
packaging==24.2
psycopg2-binary==2.9.10
pytz==2025.1
PyYAML==6.0.2
six==1.16.0
sqlparse==0.5.1
uritemplate==4.1.1
